ion-item {
    @include semi-gb($card-surface-bg);
}

formulario {

    #myInput {
        width: calc(100% - 10px);
        border: 0;
        border-radius: 0;
        background: transparent;
        
    }


    #imagesRow{
            flex-wrap: nowrap !important;
            align-items: center;
            justify-content: center;
            justify-items: center;
            align-content: center;          
               
        img {
            display: inline-block;
            width: 100px;
            height: 100px;
        
        ion-row:after {
            content: '';
            display: inline-block;
            width: 100%;
        }
    }

  
}

.imagenes{
    display:flex;
    flex-shrink: 1;
}

.imagen{
    display:inline-block;
}

}