formulario {

    #myInput {
        width: calc(100% - 10px);
        border: 0;
        border-radius: 0;
        background: transparent;
        
    }


    #imagesRow{
        
        ion-row{
            text-align: justify;
        }
           
               
        img {
            display: inline-block;
            width: 100px;
            height: 100px;
        
        ion-row:after {
            content: '';
            display: inline-block;
            width: 100%;
        }
    }

  
}

.imagenes{
    display:flex;
}

.imagen{
    display:inline-block;
}

}