<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-card class="fw"> <!-- Wrapping the slides moves it to the top of the page -->
    <ion-slides autoplay="3000" pager>
      <ion-slide *ngFor="let img of imgs">
        <img src="assets/imgs/{{img}}.png"/>
      </ion-slide>
    </ion-slides>
  </ion-card>

  <!--<img src="assets/imgs/banner.jpg" class="fw"/> -->

 <!-- autoplay doesn´t work here...Programatically -->
 <!-- <ion-grid no-padding class="fw">
    <ion-row>
     
      <ion-slides #productSlides>
        <ion-slide *ngFor="let product of products">
          <ion-card no-padding >
            <img src="{{product.featured_src}}" />
            <h1 padding center>{{product.title}}</h1>
            <p padding center>{{product.short_description}} </p>

          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>  

     
  </ion-grid>-->

  <ion-grid no-padding *ngIf="products != null">
    <ion-row *ngIf="products != null">
        <ion-col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 *ngFor="let product of products">
            <ion-item no-lines>
                <h2 card-title>{{product.title}}</h2>
                <h3 card-subtitle text-wrap>{{product.short_description}}</h3>
                <button item-end ion-button color="primary" button-action-shit (click)="share()">
                        <ion-icon name="share"></ion-icon>
                      </button>
            </ion-item>
            <ion-card (click)="openProductPage(product)">
                <img images-filter [src]="product.featured_src" />
            </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>

<ion-grid no-padding *ngIf="moreProductos != null">
  <ion-row *ngIf="moreProductos != null">
      <ion-col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 *ngFor="let producto of moreProductos">
          <ion-item no-lines>
              <h2 card-title>{{producto.title}}</h2>
              <h3 card-subtitle text-wrap>{{producto.short_description}}</h3>
              <button item-end ion-button color="primary" button-action-shit (click)="share()">
                      <ion-icon name="share"></ion-icon>
                    </button>
          </ion-item>
          <ion-card (click)="openProductPage(producto)">
              <img images-filter [src]="producto.featured_src" />
          </ion-card>
      </ion-col>
  </ion-row>
</ion-grid>

 
  <!--En el evento va info de por donde se quedó el usuario en el scroll, etc....Información técnica
  de la situación del usuario -->
  <ion-infinite-scroll (ionInfinite)="loadMoreProducts($event)">
    <ion-infinite-scroll-content>

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
