ion-app._gmaps_cdv_ .nav-decor{
    background-color: transparent !important;
  }
   
  page-product-details {
   
      #map {
          width:100%;
          min-height: 60%;
      }

      ion-slide.swiper-slide {
        align-items: flex-start;
    }

    ion-slides{
        height:200px;
    }
   
  }
